@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>

<address>
    Kevin Machado Cardoso<br />
    KevinMdCardoso@gmail.com<br />
    <abbr title="Phone">Celular:</abbr>
    (51) 99902-3764
</address>

<address>
    <strong>Git:</strong>   <a href="https://github.com/KevinMdCardoso/Net-MVC-Crud.git">Net-MVC-Crud</a><br />
</address>